.vscode
.venv
build
dist
logs
proctorai-alpha
proctorai-beta
.clinerules
.roo
tempcaptures
proctorai.spec
experiment.py
1OIDspec.py
2confidence.py
3threshold.py
4test.py
__pycache__
app_settings.json
config.ini
appfeaturesdoc.md
tests
pytest.ini